html {
  background: url(richchigga.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  text-align: center;
  color: white;
  font-family: sans-serif;
}

pre{
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
}
